<div class="panel panel-default">
  <div class="panel-body">
    {{yield}}
  </div>
  <div class="panel-footer">
    <var>top:</var> <var>{{top}}</var>
    <var>bottom:</var> <var>{{bottom}}</var>
    <var>left:</var> <var>{{left}}</var>
    <var>right:</var> <var>{{right}}</var>
  </div>
</div>

